@import './grid.scss';

.input {
    width: 100%;
    position: relative;
    height: 50px;
    border-bottom: 1px solid #aaa;
    margin: 10px 0;
    overflow: hidden;

    .name {
        position: absolute;
        text-align: left;
        font-weight: 500;
        transition: all 0.5s;
        top: 20px;
        left: 5px;
        opacity: 0.75;
    }

    .name_focus {
        top: 0px;
        font-size: 0.8rem;
    }

    .input_box {
        width: 100%;
        height: 100%;
        background-color: inherit;
        font-size: 1rem;
        border: none;
        font-family: inherit;
        margin: auto 0 0 0;
        padding: 10px 0 0 5px;
        color: inherit;
    }

    .input_box:focus {
        outline: none;
    }
}

.input_focus {
    border: 1px solid;
    border-radius: 5px;
    color: var(--main);
}

.button {
    background-color: var(--main);
    width: max-content;
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden;

    button {
        width: 100px;
        height: 40px;
        color: white;
        border: none;
        background-color: inherit;
        font-family: inherit;
        font-weight: bold;
        cursor: pointer;
    }
}

.toogle {
    display: flex;
    width: max-content;
    margin: auto 0;

    .toogle_control {
        width: 40px;
        height: 10px;
        border: var(--border);
        border-radius: 25px;
        position: relative;
        margin: 10px 0;

        .toogle_button {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: var(--main);
            top: -50%;
            transition: all 0.25s;
            cursor: pointer;
            position: absolute;
            z-index: 2;
            left: 0;
        }

        .true {
            left: 25px;
        }
    }

    p {
        margin: 0 10px;
        line-height: 30px;
        cursor: pointer;
        font-size: 0.8rem;
        width: 50px;
        text-align: center;
    }

    p:hover {
        color: var(--main);
        text-decoration: underline;
    }
}

.divider {
    border: var(--border);
    padding: 5px;
    border-radius: 5px;
    transform: translateX(105%);
    transition: all 0.5s;
    box-shadow: var(--box-shadow);

    .item {
        width: 150px;
        height: 40px;
        padding: 5px 10px;
        line-height: 30px;
        border-bottom: var(--border);

        p {
            height: 100%;
            font-size: 0.9rem;
            cursor: pointer;
        }

    }

    .item:nth-last-child(1) {
        border-bottom: none;
    }

    .item:hover {
        background-color: var(--main);
        color: white;
        border-radius: 5px;
    }
}

.dividerOpen {
    transform: translateX(0%);
}

.picturePreview {
    position: relative;
    height: 300px;
    overflow: hidden;
    width: 100%;
    margin: 0 !important;

    .imageface {
        width: 100%;
        height: 100%;
        background-color: rgba($color: #444, $alpha: 0.5);
        margin: 0 !important;

        svg {
            margin: auto;
            width: 100px !important;
            height: 100px !important;
            opacity: 0.5;
        }
    }

    .upload_button {
        position: absolute;
        right: 0;
        bottom: 0;
    }

}

.textarea {
    position: relative;

    .name {
        position: absolute;
        top: 0;
        transition: all 0.5s;
    }

    .name_focus {
        transform: translateY(-20px);
        opacity: 0;
    }

    .input_box {
        color: unset !important;

        p {
            color: inherit !important;
            background-color: inherit !important;
            font-family: '__Inter_aaf875' !important;
            text-align: justify;

            span {
                color: inherit !important;
            }
        }

        img {
            width: 100%;
        }
    }

    .input_box:focus {
        outline: none;
    }
}

.pagination {
    display: flex;
    width: max-content;
    margin: 10px auto;

    div {
        width: 50px;
        padding: 5px;
        cursor: pointer;
        text-align: center;
    }

    p:hover {
        color: var(--main);
    }

    .pageNumber {
        font-weight: bold;
        cursor: inherit;
        color: var(--main);
    }
}

.pictureModal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
    margin: 0 !important;
    backdrop-filter: blur(5px) brightness(0.5);

    .pictureBox {
        width: 90%;
        height: 90%;
        overflow: scroll;
        margin: 2.5% auto;
    }


}

.scroll_bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 5px;
    height: 100vh;
    transition: all 0.5s;

    .scroll_bar_thumb {
        position: absolute;
        width: 100%;
        background-color: var(--main);
        border-radius: 5px;
    }

}

.header {
    display: flex;
    justify-content: space-between;
    height: 50px;

    .icons {
        img {
            width: 30px;
            height: 30px;
            padding: 5px;
            margin: 5px;
            cursor: pointer;
        }
    }
}

.menu {
    width: 50px;
    height: calc(100vh - 50px);
    margin-left: -50px;
    transition: all 0.5s;

    p {
        font-size: 0.9rem;
        opacity: 0.75;
        width: max-content;
        margin: 0px 0px 0px 10px;
    }


    .item {
        display: flex;

        .title {
            cursor: pointer;
            line-height: 50px;
            font-weight: bold;
            width: 0;
            overflow: hidden;
            margin: inherit;

        }
    }

    .child {
        opacity: 0.5;
        height: 40px;

        svg {
            width: 30px !important;
            height: 30px !important;
            margin: auto 10px;
        }

        .title {
            line-height: 40px;
        }
    }

    @media (min-width:768px) {
        margin-left: 0px;
    }

}

.menuOpen {

    width: 250px;
    margin-left: 0px;

    .item {
        .title {
            width: 100%;
        }
    }

}

.archive {
    transition: all 0.5s;
    width: 100vw;
    overflow: scroll;
    border-radius: 5px;

    @media (min-width:768px) {
        width: calc(100vw - 50px);
    }
}

.archive::-webkit-scrollbar {
    display: none;
}

.archive_open {
    @media (min-width:768px) {
        width: calc(100vw - 250px);
    }
}

.detail {

    .detail_header {
        height: 30px;
    }

    .grid_box {

        .box {
            .input {
                margin: 5px 0;

                .name_focus {
                    top: 5px;
                }
            }

            .input_focus {
                border: none;
            }

            .textarea {
                margin: 20px 0 0;

                .input_box {
                    margin: 5%;
                    text-align: justify;
                }
            }

            .textarea_focus {
                border: var(--border);
            }

        }

        .detailBox {
            @media (min-width:768px) {
                height: calc(100vh - 100px);
            }

            .innerDetail {
                padding: 5%;

                img {
                    width: 100%;
                }

                p {
                    background: transparent !important;
                    margin-bottom: 10px;

                    i {
                        span {
                            color: inherit !important;
                            font-size: 0.8rem !important;
                        }
                    }

                    b {
                        font-weight: 900;
                    }

                    span {
                        color: inherit !important;
                        font-size: 1rem !important;
                    }
                }
            }
        }
    }

    .detail_main {
        position: relative;
        height: calc(100vh - 80px);
        overflow-x: scroll;
    }

    .detail_main::-webkit-scrollbar {
        display: none;
    }

}

.login {
    width: 90%;
    max-width: 375px;
    margin: 25px auto 0;
    min-height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    text-align: center;
    box-shadow: var(--box-shadow);

    a {
        color: inherit !important;
    }

    .warn {
        font-size: 0.75rem;
        color: red;
    }
}

.notice {
    width: max-content;
    line-height: 25px;
    position: absolute;
    right: 0;
    top: 55px;
    transform: translateX(100%);
    transition: all 0.5s;
    padding: 0 10px;

    p {
        span {
            font-size: 0.9rem;
            font-weight: 100;
            margin: 0 10px;
            cursor: pointer;
        }

        span:hover {
            color: var(--main);
        }
    }
}

.notice_success_fail {
    background-color: red;
    color: var(--light);
}

.notice_success_true {
    background-color: var(--main);
    color: var(--light);
}

.notice_open {
    transform: translateX(0);
}